/* Navbar Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #07162a;
  padding: 15px 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.navbar .navbar-links {
  display: flex;
  font-size: larger;
  gap: 20px;
  color: #f0f0f0;
}

.navbar a {
  font-size: large;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #6000bf;
}

/* Book List */
.book-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  margin-top: 20px;
  padding: 0 20px;
}
/* Book Card Styling */
.book-card {
  display: inline-block;
  width: 250px;
  height: 400px;
  margin: 10px;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.book-card img {
  width: 100%;
  height: 250px;
  object-fit: fill;
  border-radius: 8px;
}

.book-card-title {
  font-size: 1.2rem;
  margin: 8px 0;
  color: #333;
  font-weight: bold;
}

.book-card-author,
.book-card-genre,
.book-card-id {
  font-size: 0.9rem;
  color: #555;
}
.navbar a,
.book-card a {
  text-decoration: none;
  color: inherit;
}

.navbar a:hover,
.book-card a:hover {
  color: #5edaff;
  text-decoration: none;
}

/* search-input */

.filter-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  padding: 10px 20px;
  flex-direction: row;
}

/* Individual elements */
.search-input,
.genre-dropdown {
  width: 100%;
  max-width: 400px;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  gap: 5px;
}

/* wishlist icon style */
.wishlist-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #ccc;
  transition: color 0.2s ease;
  z-index: 10;
}

.wishlist-icon.active {
  color: red;
}

.book-card {
  position: relative;
}

/* pagination */
.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 20px auto;
}

.page-btn {
  padding: 6px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  color: #333;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}
.page-btn:hover {
  background-color: #ffffff; 
  color: #12e4f3;
}
.page-btn.active {
  background-color: #12e4f3;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.page-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }

  .navbar .navbar-links {
    width: 100%;
    flex-direction: column;
    gap: 10px;
    padding-left: 0;
  }

  .navbar a {
    font-size: 18px;
  }

  .book-list {
    flex-direction: column;
    align-items: center;
  }

  .book-card {
    width: 90%;
    height: auto;
    margin-bottom: 20px;
  }
  .search-input,
  .genre-dropdown {
    width: auto;
  }

  .filter-bar {
    row-gap: 5px;
    flex-direction: row;
  }
  .pagination {
    flex-direction: column;
  }

  .page-btn {
    width: 100%;
    font-size: 16px;
  }
}
